include LICENSE AUTHORS CHANGELOG.rst README.rst
include .bumpversion.cfg .coveragerc .travis.yml pytest.ini tox.ini
include docs/*.rst docs/*.py docs/Makefile docs/_templates/*.html docs/requirements.txt
include tests/*.py
