redis>3.0.0
rq-scheduler>=0.9.0
flask-cli>=0.4.0
pytest<5.0.0 ; python_version < '3.0'
pytest>=5.0.0 ; python_version >= '3.0'
pytest-cache>=1.0
pytest-flake8>=0.5
pytest-wholenodeid
pytest-coverage
pytest-pythonpath
